body {
  background-color: darkslategrey;
  flex-wrap: wrap;
}

h1 {
  display: flex;
  font-size: 60px;
  text-align: start;
  background-color: grey;
  max-width: 80px;
  max-height: 80px;
  color: darkslategray;
  display: block;
  padding: 15px;
  padding-left: 25px;
}
header {
  display: flex;
  background-color: grey;
  margin: 10px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

ul {
  margin-left: 1150px;
  margin-top: 60px;
  font: darkslategrey;
}

li {
  display: flex;
  margin: 10px;
  font-size: 25px;
  padding: 15px;
  text-decoration: underline darkslategray;
  color: darkslategrey;
  list-style: none;
  display: inline-block;
  flex-wrap: wrap;
}

p {
  background-color: whitesmoke;
  display: flex;
  position: relative;
}

h2 {
  font-size: 40px;
  display: flex;
  justify-content: left;
  color: grey;
  background-color: whitesmoke;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: whitesmoke;
}

footer {
  font-size: 40px;
  color: darkslategray;
  background-color: grey;
  height: 50px;
}

.PictureOfMe {
  display: inline-block;
  scale: 20%;
  padding-left: 50px;
  padding-inline-start: 45px;
  margin-top: -445px;
}

.Main-Photo {
  width: 50%;
  height: 500px;
}

.Picture-2,
.Picture-3 {
  width: 25%;
  height: 300px;
  align-items: flex-start;
}

.Picture-4,
.Picture-5 {
  width: 25%;
  height: 300px;
  padding-right: 475px;
  display: inline-block;
}

.Contact {
  display: flex;
  align-content: center;
  color: white;
}
